<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    
    <!-- Include Bootstrap Datepicker -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>View List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

    <script>
        $(document).ready(function () {
            $("#mylogout").click(function() {
                $("#c_form").attr("action","logoff")
            })
            
        })
        </script> 
</head>

<body>
    <div class="container mt-5">
        <!-- top -->
        <div class="row">
            <div class="col-lg-6">
                <h1>Grocery List of {{userData.user_data.fname}}</h1>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                    Add Grocery
                </button>
                
                <!-- The Modal -->
                <div class="modal" id="myModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Add Item</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                
                            <!-- Modal body -->
                            <div class="modal-body">
                                <form action="addGrocery" method="POST">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="email">Item Name:</label>
                                        <input type="text" class="form-control" required placeholder="Enter Item name" name="Item_name" id="email">
                                    </div>
                                    <div class="form-group">
                                        <label for="pwd">Item Quantity:</label>
                                        <input type="text" class="form-control" required placeholder="Enter Item Quantity" name="Item_quan" id="pwd">
                                    </div>
                                
                                    <div class="form-group">
                                        <label for="pwd">Item Status:</label>
                                    <div class="radio">
                                        <label><input type="radio" name="optradio" checked value="b">&nbsp;Bought</label>
                                    </div>
                                    <div class="radio">
                                        <label><input type="radio" name="optradio" value="l">&nbsp;Left</label>
                                    </div>
                                    <div class="radio disabled">
                                        <label><input type="radio" name="optradio" value="n">&nbsp;Not Available</label>
                                    </div>
                                    </div>
                                    <div class="form-group">
                                        <!-- Date Filtering-->
                                        <label for="pwd">Date to Buy:</label>

                                        <input type="date" class="form-control" name="Item_date">
                                    </div>
                                    <button type="submit" class="btn btn-success">Add Item</button>
                                   
                                
                                </form>

                            </div>
                
                            <!-- Modal footer -->
                            
                
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-6 float-right">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Date Filtering-->
                            <form method="POST" action="search" id="c_form" class="form-inline">
                                {% csrf_token %}
                        <input type="date" name="s_date" class="form-control">&nbsp;&nbsp;
                        <input type="submit" class="btn btn-primary" value="filter">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="submit" class="btn btn-danger" id="mylogout" value="Log Out">
                        </form>
                    </div>
                    <div class="col-lg-4">
                    </div>
                </div>
            </div>
        </div>
        <!-- // top -->
        <!-- Grocery Cards -->
        <div class="row mt-4">
            <!--- -->
            {% if userData.gr_data %}
            
            
            {% for x in userData.gr_data  %}
            
            <!-- Loop This -->
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{x.item_name}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{x.item_quan}} Pcs.</h6>
                         {% ifequal x.item_status "b" %}
                            <p class="text-success">Bought</p>

                        {% endifequal %}
                         {% ifequal x.item_status "l" %}
                            <p class="text-warning">Left</p>

                        {% endifequal %}
                        {% ifequal x.item_status "n" %}
                            <p class="text-danger">Not Available</p>

                        {% endifequal %}
                        <form action="delgr" method="POST"> 
                            {% csrf_token %}
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal{{forloop.counter}}">
                            Update
                        </button>
                            <script>
                                $(document).ready(function () {
                                    var date = new Date("{{x.item_date}}")
                                    var mon = date.getMonth() + 1
                                    console.log(date.getMonth + 1)
                                    if (mon <= 9 && mon >= 1) {

                                        mon = mon.toString()
                                        mon = "0" + mon
                                    }
                                    else {
                                        mon = mon.toString()
                                    }
                                    console.log(mon)
                                    var dd = date.getDate()
                                    var yy = date.getFullYear()
                                    var strr = yy.toString() + "-" + mon + "-" + dd.toString()



                                    $('#md{{forloop.counter}}').attr("value", strr);

                                })

                            </script>

                            <input type="hidden" name="o_data" value="{{x.item_quan}},{{x.item_name}},{{x.item_status}}">
                            <input type="hidden" name="o_date1" id="md{{forloop.counter}}">

                        <button type="submit" class="btn btn-danger">
                            Delete
                        </button>
                        </form>
                        <div class="modal" id="myModal{{forloop.counter}}">
                            <div class="modal-dialog">
                                <div class="modal-content">
                        
                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">Update Item</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    
                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <form action="updateGr" method="POST">
                                            <script>
                                                $(document).ready(function () {
                                                    var date = new Date("{{x.item_date}}")
                                                    var mon = date.getMonth() + 1
                                                    console.log(date.getMonth + 1)
                                                    if (mon <= 9 && mon >= 1) {

                                                        mon = mon.toString()
                                                        mon = "0" + mon
                                                    }
                                                    else {
                                                        mon = mon.toString()
                                                    }
                                                    console.log(mon)
                                                    var dd = date.getDate()
                                                    var yy = date.getFullYear()
                                                    var strr1 = yy.toString() + "-" + mon + "-" + dd.toString()



                                                    $('#mdd{{forloop.counter}}').attr("value", strr1);

                                                })

                                            </script>
                                            {% csrf_token %}
                                            <input type="hidden" name="o_data" value="{{x.item_quan}},{{x.item_name}},{{x.item_status}}">
                                            <input type="hidden" name="o_date1" id="mdd{{forloop.counter}}">

                                            <div class="form-group">
                                                <label for="email">Item Name:</label>
                                                <input type="text" class="form-control" required placeholder="Enter Item name" name="Item_name" value="{{x.item_name}}"
                                                    id="email">
                                            </div>
                                            <div class="form-group">
                                                <label for="pwd">Item Quantity:</label>
                                                <input type="text" class="form-control" required placeholder="Enter Item Quantity"
                                                    name="Item_quan" id="pwd" value="{{x.item_quan}}">
                                            </div>
                        
                                            <div class="form-group">
                                                <label for="pwd">Item Status:</label>
                                                {% ifequal x.item_status "b" %}
                                                <div class="radio">
                                                    <label><input type="radio" name="optradio" checked value="b">&nbsp;Bought</label>
                                                </div>
                                                <div class="radio">
                                                    <label><input type="radio" name="optradio" value="l">&nbsp;Left</label>
                                                </div>
                                                <div class="radio">
                                                    <label><input type="radio" name="optradio" value="n">&nbsp;Not Available</label>
                                                </div>
                                                {% endifequal %}
                                                

                                                {% ifequal x.item_status "l" %}

                                                <div class="radio">
                                                    <label><input type="radio" name="optradio" value="b">&nbsp;Bought</label>
                                                </div>
                                                <div class="radio">
                                                    <label><input type="radio" name="optradio" checked  value="l">&nbsp;Left</label>
                                                </div>
                                                <div class="radio">
                                                    <label><input type="radio" name="optradio" value="n">&nbsp;Not Available</label>
                                                </div>
                                                {% endifequal %}
                                                
                                                
                                                {% ifequal x.item_status "n" %}
                                                <div class="radio">
                                                    <label><input type="radio" name="optradio" value="b">&nbsp;Bought</label>
                                                </div>
                                                <div class="radio">
                                                    <label><input type="radio" name="optradio" value="l">&nbsp;Left</label>
                                                </div>
                                                <div class="radio">
                                                    <label><input type="radio" name="optradio" checked value="n">&nbsp;Not Available</label>
                                                </div>
                                                {% endifequal %}

                                            </div>
                                            <div class="form-group">
                                                <!-- Date Filtering-->
                                                
                                                     
                                                <label for="pwd">Date to Buy:</label>
                                                    
                                                <input type="date" class="form-control" id="dd{{forloop.counter}}" name="Item_date">
                                            </div>
                                            <button type="submit" class="btn btn-success">Update</button>
                        
                        
                                        </form>
                        
                                    </div>
                        
                                    <!-- Modal footer -->
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- // Loop -->
            {% endfor %}            
            {% else %}
                <div class="row">
            <div class="col-lg-12">
                <h2>No Groceries</h2>
                </div>
                </div>
            {% endif %}
        </div>
    </div>
</body>

</html>